<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://wixtoolset.org/schemas/v4/wxs https://raw.githubusercontent.com/wixtoolset/web/master/src/xsd4/wix.xsd
                        http://wixtoolset.org/schemas/v4/wxs/ui https://raw.githubusercontent.com/wixtoolset/web/master/src/xsd4/ui.xsd">
    <Package Name="Airglow" Manufacturer="Mike Thierman"
        UpgradeCode="B804DB35-0FC3-4E3E-8503-A5211287E156"
        Version="1.6.0" InstallerVersion="500">
        <MajorUpgrade DowngradeErrorMessage="A newer version was detected." />

        <StandardDirectory Id="LocalAppDataFolder">
            <Directory Id="LocalAppData" Name="Airglow">
                <Directory Id="GUI" Name="gui">
                    <Directory Id="Assets" Name="assets"></Directory>
                    <Directory Id="Home" Name="home"></Directory>
                    <Directory Id="Settings" Name="settings"></Directory>
                    <Directory Id="URL" Name="url"></Directory>
                </Directory>
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="StartMenuFolder">
            <Directory Id="StartMenu" Name="Programs"></Directory>
        </StandardDirectory>

        <MediaTemplate EmbedCab="yes" />

        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="LocalAppData" />
        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="data/WixUIBannerBmp.png" />
        <WixVariable Id="WixUIDialogBmp" Value="data/WixUIDialogBmp.png" />
        <!-- <WixVariable Id="WixUIExclamationIco" Value="data/WixUIExclamationIco.png" /> -->
        <!-- <WixVariable Id="WixUIInfoIco" Value="data/WixUIInfoIco.png" /> -->
        <!-- <WixVariable Id="WixUINewIco" Value="data/WixUINewIco.png" /> -->
        <!-- <WixVariable Id="WixUIUpIco" Value="data/WixUIUpIco.png" /> -->

        <WixVariable Id="WixUINewIco" Value="data/WixUINewIco.ico" />
        <WixVariable Id="WixUIUpIco" Value="data/WixUIUpIco.ico" />

        <Feature Id="Main">
            <Component Directory="LocalAppData">
                <File Id="Airglow" Source="build/Release/Airglow.exe" />
                <Shortcut Name="Airglow" Directory="StartMenu" Advertise="yes" Icon="Airglow.exe" />
            </Component>
            <Component Directory="Assets">
                <File Source="build/Release/gui/assets/home.js" />
            </Component>
            <Component Directory="Assets">
                <File Source="build/Release/gui/assets/index.css" />
            </Component>
            <Component Directory="Assets">
                <File Source="build/Release/gui/assets/index.js" />
            </Component>
            <Component Directory="Assets">
                <File Source="build/Release/gui/assets/settings.js" />
            </Component>
            <Component Directory="Assets">
                <File Source="build/Release/gui/assets/storage.js" />
            </Component>
            <Component Directory="Assets">
                <File Source="build/Release/gui/assets/test.js" />
            </Component>
            <Component Directory="Assets">
                <File Source="build/Release/gui/assets/url.js" />
            </Component>
            <Component Directory="Home">
                <File Source="build/Release/gui/home/index.html" />
            </Component>
            <Component Directory="Settings">
                <File Source="build/Release/gui/settings/index.html" />
            </Component>
            <Component Directory="URL">
                <File Source="build/Release/gui/url/index.html" />
            </Component>
        </Feature>

        <Icon Id="Airglow.exe" SourceFile="data/release.ico" />
        <Property Id="ARPPRODUCTICON" Value="Airglow.exe" />
    </Package>
</Wix>
