<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://wixtoolset.org/schemas/v4/wxs https://raw.githubusercontent.com/wixtoolset/web/master/src/xsd4/wix.xsd">
    <Package Name="Airglow" Manufacturer="mthierman"
        UpgradeCode="67120610-9552-4248-B3AD-4C4C28E0350A"
        Version="0.0.1" InstallerVersion="500">

        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="ProgramFiles" Name="ProgramFiles" />
        </StandardDirectory>

        <StandardDirectory Id="LocalAppDataFolder">
            <Directory Id="LocalAppData" Name="Airglow"></Directory>
        </StandardDirectory>

        <StandardDirectory Id="StartMenuFolder">
            <Directory Id="StartMenu" Name="Programs"></Directory>
        </StandardDirectory>

        <MediaTemplate EmbedCab="yes" />

        <Feature Id="Main">
            <Component Directory="LocalAppData">
                <File Source="build/Release/Airglow.exe">
                    <Shortcut Name="Airglow" Directory="StartMenu" />
                </File>
                <CreateFolder Directory="gui"></CreateFolder>
            </Component>
        </Feature>
    </Package>
</Wix>
