@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

@layer base {
    h1 {
        @apply text-2xl;
    }
    #settings {
        @apply flex flex-col gap-2 p-2;
    }
    .setting {
        @apply flex flex-row flex-wrap items-center gap-2;
    }
    label {
        @apply min-w-[25%] whitespace-nowrap;
    }
    input {
        @apply min-w-0 flex-shrink flex-grow rounded p-2;
    }
}
