@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Noto Emoji";
    src: url("/fonts/NotoEmoji-VariableFont_wght.ttf") format("woff");
    font-style: normal;
    font-weight: normal;
}

/* html {
    scrollbar-gutter: stable both-edges;
} */

body {
    @apply bg-transparent;
}

#root {
    @apply bg-transparent;
}

.url {
    @apply flex select-none place-content-center items-center bg-black;
}

.favicon {
    @apply pointer-events-none m-1 aspect-square;
}

.input {
    @apply w-full text-ellipsis rounded border-b-2 border-transparent bg-white p-2 font-medium text-accentDark1 shadow-sm shadow-black outline-none duration-300 ease-in-out focus:border-accent dark:bg-black dark:text-accent dark:focus:border-accentLight1;
}

.settingTitle {
    @apply self-end text-lg font-bold;
}
