@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply h-full bg-transparent;
    }
    h1 {
        @apply text-xl;
    }
    #root {
        @apply grid min-h-full;
    }
    form {
        @apply p-6;
    }
    label {
        @apply grid gap-2 whitespace-nowrap font-semibold;
    }
    input {
        @apply rounded border-2 border-black bg-black p-2 font-medium text-accent shadow-md shadow-black outline-none;
    }
    input:focus {
        @apply border-accent text-accent;
    }
    button[type="submit"] {
        @apply scale-100 rounded border-2 border-black bg-black p-2 text-2xl font-semibold text-white duration-100 ease-linear hover:text-accent active:scale-95;
    }
}

input:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}
