@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply h-full bg-transparent;
    }
    h1 {
        @apply text-xl;
    }
    #root {
        @apply grid min-h-full p-4;
    }
    #settings {
        @apply grid h-full gap-6;
    }
    #url {
        @apply grid gap-4 self-start;
    }
    label {
        @apply grid gap-2 whitespace-nowrap font-semibold;
    }
    input {
        @apply rounded border-2 border-black bg-black p-2 font-medium text-white shadow-md shadow-black outline-none;
    }
    input:focus {
        @apply border-gray-400;
    }
    button[type="submit"] {
        @apply scale-100  self-end rounded border-2 border-black bg-black p-2 text-2xl font-semibold text-white shadow-2xl shadow-accent duration-100 ease-linear hover:border-accent hover:bg-accent active:scale-95;
    }
}

:root {
    --accentColor: #2ab6fc;
}

input:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}
