@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply h-full bg-transparent;
    }
    h1 {
        @apply text-xl;
    }
    #root {
        @apply grid min-h-full p-4;
    }
    #settings {
        @apply grid h-full gap-6;
    }
    #url {
        @apply grid gap-4 self-start;
    }
    label {
        @apply grid gap-2 whitespace-nowrap leading-none;
    }
    input {
        @apply rounded border-2 border-accent bg-accent p-2 shadow-md shadow-accent outline-none;
    }
    input:focus {
        @apply border-current;
    }
    button[type="submit"] {
        @apply scale-100 self-end rounded border-2 border-accent p-2 text-2xl font-semibold shadow-2xl shadow-accent duration-100 ease-linear hover:bg-accent active:scale-95;
    }
}

:root {
    --accentColor: #ffffff;
}

input:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}
