<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://wixtoolset.org/schemas/v4/wxs https://raw.githubusercontent.com/wixtoolset/web/master/src/xsd4/wix.xsd
                        http://wixtoolset.org/schemas/v4/wxs/bal https://raw.githubusercontent.com/wixtoolset/web/master/src/xsd4/bal.xsd">
    <Bundle Name="Airglow" Version="1.6.0" UpgradeCode="254DC0BB-0BD7-44E8-A448-BB0872899BC2"
        IconSourceFile="data/release.ico" AboutUrl="https://github.com/mthierman/Airglow"
        Copyright="© 2023 Mike Thierman" Manufacturer="Mike Thierman"
        SplashScreenSourceFile="data/banner.png">
        <BootstrapperApplication>
            <bal:WixStandardBootstrapperApplication Theme="rtfLicense" LicenseFile="LICENSE.rtf"
                ShowVersion="yes" LogoSideFile="data/release.png"
                LogoFile="data/release.png" SuppressOptionsUI="true" />
        </BootstrapperApplication>
        <Chain>
            <BundlePackage SourceFile="data/VC_redist.x64.exe"
                bal:PrereqLicenseUrl="https://visualstudio.microsoft.com/license-terms/vs2022-cruntime/"
                InstallArguments="/install /passive /quiet /norestart" Permanent="yes"
                bal:PrereqPackage="yes" />
            <MsiPackage bal:PrimaryPackageType="default" SourceFile="build/Airglow.msi" />
        </Chain>
    </Bundle>
</Wix>
