<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://wixtoolset.org/schemas/v4/wxs https://raw.githubusercontent.com/wixtoolset/web/master/src/xsd4/wix.xsd
                        http://wixtoolset.org/schemas/v4/wxs/ui https://raw.githubusercontent.com/wixtoolset/web/master/src/xsd4/ui.xsd">
    <Package Name="Airglow" Version="1.7.0" Manufacturer="Mike Thierman"
        UpgradeCode="B804DB35-0FC3-4E3E-8503-A5211287E156" InstallerVersion="500">
        <MajorUpgrade DowngradeErrorMessage="A newer version was detected." />

        <StandardDirectory Id="LocalAppDataFolder">
            <Directory Id="APPINSTALLDIR" Name="Airglow">
                <Directory Id="Application"></Directory>
                <Directory Id="GUI" Name="gui">
                    <Directory Id="Assets" Name="assets"></Directory>
                    <Directory Id="Home" Name="home"></Directory>
                    <Directory Id="Settings" Name="settings"></Directory>
                    <Directory Id="URL" Name="url"></Directory>
                </Directory>
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="StartMenuFolder">
            <Directory Id="StartMenu" Name="Programs"></Directory>
        </StandardDirectory>

        <MediaTemplate EmbedCab="yes" />

        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="APPINSTALLDIR" />
        <WixVariable Id="WixUILicenseRtf" Value="data/installer/LICENSE.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="data/installer/WixUIBannerBmp.png" />
        <WixVariable Id="WixUIDialogBmp" Value="data/installer/WixUIDialogBmp.png" />
        <WixVariable Id="WixUIExclamationIco" Value="data/installer/WixUIExclamationIco.ico" />
        <WixVariable Id="WixUIInfoIco" Value="data/installer/WixUIInfoIco.ico" />
        <WixVariable Id="WixUINewIco" Value="data/installer/WixUINewIco.ico" />
        <WixVariable Id="WixUIUpIco" Value="data/installer/WixUIUpIco.ico" />

        <Feature Id="Main">
            <Component Directory="Application">
                <File Id="Airglow" Source="build/Release/Airglow.exe" />
                <Shortcut Name="Airglow" Directory="StartMenu" Advertise="yes" Icon="Airglow.exe" />
                <Environment Action="set" Id="Path" Name="Path" Part="last" Permanent="no"
                    Value="[APPINSTALLDIR]" />
            </Component>
            <Component Directory="Assets" Guid="1FC6B8D3-D063-433E-863D-B42680CFA2C5">
                <File Source="build/Release/gui/assets/client.js" />
                <File Source="build/Release/gui/assets/home.css" />
                <File Source="build/Release/gui/assets/home.js" />
                <File Source="build/Release/gui/assets/settings.js" />
                <File Source="build/Release/gui/assets/url.css" />
                <File Source="build/Release/gui/assets/url.js" />
                <File Source="build/Release/gui/assets/url2.js" />
            </Component>
            <Component Directory="Home">
                <File Source="build/Release/gui/home/index.html" />
            </Component>
            <Component Directory="Settings">
                <File Source="build/Release/gui/settings/index.html" />
            </Component>
            <Component Directory="URL">
                <File Source="build/Release/gui/url/index.html" />
            </Component>
        </Feature>

        <Icon Id="Airglow.exe" SourceFile="data/release.ico" />
        <Property Id="ARPPRODUCTICON" Value="Airglow.exe" />
    </Package>
</Wix>
