<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://wixtoolset.org/schemas/v4/wxs https://raw.githubusercontent.com/wixtoolset/web/master/src/xsd4/wix.xsd">
    <Package Name="Gooey" Manufacturer="mthierman"
        UpgradeCode="67120610-9552-4248-B3AD-4C4C28E0350A"
        Version="0.0.1" InstallerVersion="500">

        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="ProgramFiles" Name="ProgramFiles" />
        </StandardDirectory>

        <MediaTemplate EmbedCab="yes" />

        <Feature Id="Main">
            <Component Directory="ProgramFiles">
                <File Source="build/Release/Gooey.exe" />
            </Component>
        </Feature>
    </Package>
</Wix>
